/* font  */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles  */
.bg-gradient{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
.title-text{
    font-size: 3rem;
    font-weight: bold;
}

@keyframes beat {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(0.95); 
  }
  100% {
    transform: scale(1);
  }
}

/* nav */
nav .menu{
    display: none;
}

/* banner */

#banner{
    background: url(./assets/hero-bg.png) center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-center{
    animation: beat 1s infinite;
    width: 350px;
    height: 350px;
    position: relative;
}
.hero-circle{
    width: 100%;

}
.microphone{
    width: 116px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 12px;
    left: 254px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    border-radius: 16px;
    width: 56px;
    padding: 4px 0;
    text-align: center;
}
.buttons{
	    gap: 24px
}
.btn-1{
    width:210px;
	padding: 12px 20px;
}
.btn-2{
	width:147px;
	padding: 12px 16px;
}
/* about */
.about{
    margin-top: 5rem;
    text-align: center;
    padding: 5rem 10rem;
}
.about-content h1{
    margin-bottom: 1rem;
}
.about-cards{
    display: grid;
    justify-items: space-between;
    margin: 0 auto;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
}
.ab-card{ 
    text-align: center;
    font-weight: bold;
        
}
.ab-card h1{
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 16px;
}
/* why us */
.why-us{
    padding: 7.5rem 12.5rem;
    background-color: #230E3D;
}
.why-us h1{
    text-align: center;
    margin-bottom: 2.5rem;
}
.why-us-cards{
    display: grid;
    gap: 40px;
    grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}
.why-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
}
.why-card img{
    width: 55px;
}
.why-card h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.why-card p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.card-1{
    grid-area: card1;
}
.card-2{
    grid-area: card2;
}
.card-2 img{
    width: 40px;
}
.card-3{
    grid-area: card3;
}
.card-4{
    grid-area: card4;
}
.card-5{
    grid-area: card5;
}
/* Featured Episodes */
.featured{
    padding: 7.5rem 12.5rem;
    margin-bottom: 120px;
    
}
.featured h1{
    text-align: center;
    margin-bottom: 2.5rem;
}
.featured-episodes{
    display: flex;
    gap: 30px ;
}
.ep-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 16px;
}
.ep-card .frame{
    width: 100%;
}
.frame iframe{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.ep-card-content{
    padding: 1.5rem;
}
.ep-card h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.ep-card p{
    font-size: 1rem;
}
.duration{
    margin-top: 1rem;
}
/* Host  */
.host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.host-profile{
    display: flex;
    width: 75%;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    margin-top: 2.5rem;
    border-radius: 40px;
}
.host-profile h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.host-profile p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
.host-icons .icon{
    padding: 20px;
    border: 1px solid #533C72;
    border-radius: 50%;
}
 

/* medium device styles */
@media screen and (min-width: 576px) and (max-width: 992px){

    /* about us */
    .about{
        margin-top: 5rem;
        text-align: center;
        padding: 3rem 5rem;
    }
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    /* why us */
    .why-us{
        padding: 3rem;
    }
    .why-us-cards{
        padding: 40px 20px;
        grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card5";
    }
    /* featured episodes */
    .featured{
        padding: 4.5rem 8.5rem;
        margin-bottom: 80px;
    }
    .featured-episodes{
        flex-direction: column;
        gap: 20px ;
    }
}


/* small device styles */
@media screen and (max-width: 576px){
    .title-text{
        font-size: 2rem;
        font-weight: bold;
    }
    .buttons{
	    gap: 8px
    }
    .btn-1{
        width:190px;
	    padding: 8px 12px;
    }
    .btn-2{
	    width:137px;
	    padding: 8px 12px;
    }

    /* banner */
    #banner{
        background: url(./assets/bg-small.png) center no-repeat;
        background-size: cover;
        padding: 40px 20px;
    }
    .banner-center{
        width: 260px;
        height: 260px;
    }
    .microphone{
        width: 3rem;
    }
    .badge{
        top: 8px;
        left: 190px;
    }
    /* nav */
    nav h1{
        font-size: 2rem;
    }
    nav ul{
        display: none;
    }
    nav .sub-btn{
        display: none;
    }
    nav .menu{
        display: block;
    }
    /* about */
    .about{
        padding: 40px 0px;
    }
    .about-content p{
        padding: 0px 20px;
        font-size: 14px;
    }
    .about-content h1{
        font-size: 32px;
        width: 90%;
    }
    .about-content .break{
        display: none;
    }
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    .ab-card{ 
        text-align: center;
        font-weight: bold;
        
    }
    .ab-card h1{
        color: #00FF88;
        font-size: 2.5rem;
        margin-bottom: 16px;
    }
    .ab-card p{
        font-size: 14px;
    }
    /* why us  */
    .why-us{
        padding: 40px 20px;
    }
    .why-us-cards{
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5";
    }
    .why-card{
        padding: 1.5rem;
    }
    /* featured episodes */
    .featured{
        padding: 40px 20px;
        margin-bottom: 60px;
    }
    .featured-episodes{
        flex-direction: column;
        gap: 20px ;
    }
    /* host  */
    .host-profile{
        width: 90%;
        flex-direction: column;
        padding: 24px;
        margin-top: 1.5rem;
        border-radius: 16px;
    }
    .host-profile h2{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .host-profile img{
        width: 150px;
    }
    .host-info{
        text-align: center;
    }
    .host-icons{
        justify-content: center;
        gap: 8px;
    }
    .host-icons .icon{
        border: 1px solid #533C72;
        border-radius: 50%;
        padding: 10px;
    }
    .icon img{
        width: 20px;
    }
}