/* font  */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles  */
.bg-gradient{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
/* nav */
nav .menu{
    display: none;
}

/* banner */

#banner{
    
    /* width: 100%; */
    /* padding-top: 50px;
    padding-bottom: 100px; */
    background: url(./assets/hero-bg.png) center no-repeat;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .banner-pain{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner-center{
    width: 350px;
    height: 350px;
    /* max-width: 370px; */
    /* border: 2px solid #3debc0; */
    /* width: 100%; */
    position: relative;
    
    /* display: flex;
    /* justify-content: center;
    align-items: center; */ 

    /* border: 2px solid #eb3d3d; */
    /* padding-top: 20px; */
    
}
.hero-circle{
    /* position: absolute; */
    /* margin-left: 5px; */
    width: 100%;
}
.microphone{
    /* position: relative ;
    top: 35%;
    margin: 0 auto; */
    width: 116px;
    /* height: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 12px;
    left: 254px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    border-radius: 16px;
    width: 56px;
    padding: 4px 0;
    text-align: center;
}
/* about */
.about{
    margin-top: 5rem;
    text-align: center;
    padding: 5rem 10rem;
}
.about-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about-cards{
    display: grid;
    justify-items: space-between;
    margin: 0 auto;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
}
.ab-card{ 
    width: 240px;
    text-align: center;
    font-weight: bold;
        
}
.ab-card h1{
    color: #00FF88;
    font-size: 48px;
    margin-bottom: 16px;
}
/* why us */
.why-us{
    padding: 7.5rem 12.5rem;
    background-color: #230E3D;
}
.why-us h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.why-us-cards{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 40px;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card3"
    "card4 card4 card5";
}
.why-card{
    /* text-align: center; */
    background-color: rgba(53, 17, 101, 0.4);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
}
.why-card img{
    /* width: 100%; */
    width: 55px;
}
.why-card h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.why-card p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.card-1{
    grid-area: card1;
}
.card-2{
    grid-area: card2;
}
.card-2 img{
    width: 40px;
}
.card-3{
    grid-area: card3;
}
.card-4{
    grid-area: card4;
}
.card-5{
    grid-area: card5;
}
/* Featured Episodes */
.featured{
    padding: 7.5rem 12.5rem;
    margin-bottom: 120px;
    
}
.featured h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.featured-episodes{
    display: flex;
    gap: 30px ;
}
.ep-card{
    background-color: rgba(53, 17, 101, 0.4);
    /* padding: 2.5rem; */
    border-radius: 16px;
}
.ep-card .frame{
    width: 100%;
}
.frame iframe{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.ep-card-content{
    padding: 1.5rem;
}
.ep-card h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.ep-card p{
    font-size: 1rem;
}
.duration{
    margin-top: 1rem;
}

/* medium device styles */
@media screen and (min-width: 576px) and (max-width: 992px){

    /* about us */
    .about{
    margin-top: 5rem;
    text-align: center;
    padding: 3rem 5rem;
}
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    /* why us */
    .why-us{
        padding: 4.5rem;
    }
    .why-us-cards{
        grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card5";
    }
    /* featured episodes */
    .featured{
        padding: 4.5rem 8.5rem;
        margin-bottom: 80px;
    }
    .featured-episodes{
        flex-direction: column;
        gap: 20px ;
    }
}


/* small device styles */
@media screen and (max-width: 576px){

    /* banner */
    #banner{
        background-size: cover;
        padding: 40px 20px;
    }
    .banner-center{
        width: 260px;
        height: 260px;
    }
    .microphone{
        width: 3rem;
    }
    .badge{
        top: 8px;
        left: 190px;
    }
    /* nav */
    nav h1{
        font-size: 2rem;
    }
    nav ul{
        display: none;
    }
    nav .sub-btn{
        display: none;
    }
    nav .menu{
        display: block;
    }
    /* about */
    .about{
        padding: 40px 20px;
    }
    .about-content h1{
        font-size: 32px;
        width: 90%;
    }
    .about-content .break{
        display: none;
    }
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    .ab-card{ 
        width: 170px;
        text-align: center;
        font-weight: bold;
        
    }
    .ab-card h1{
        color: #00FF88;
        font-size: 40px;
        margin-bottom: 16px;
    }
    .ab-card p{
        /* font-size: 14px; */
    }
    /* why us  */
    .why-us{
        padding: 40px 20px;
    }
    .why-us-cards{
        grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5";
    }
    .why-card{
        padding: 1.5rem;
    }
        /* featured episodes */
    .featured{
        padding: 40px 20px;
        margin-bottom: 60px;
    }
    .featured-episodes{
        flex-direction: column;
        gap: 20px ;
    }
}