/* font  */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles  */
.bg-gradient{
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}
/* nav */
nav .menu{
    display: none;
}

/* banner */

#banner{
    
    /* width: 100%; */
    /* padding-top: 50px;
    padding-bottom: 100px; */
    background: url(./assets/hero-bg.png) center no-repeat;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .banner-pain{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner-center{
    width: 350px;
    height: 350px;
    /* max-width: 370px; */
    /* border: 2px solid #3debc0; */
    /* width: 100%; */
    position: relative;
    
    /* display: flex;
    /* justify-content: center;
    align-items: center; */ 

    /* border: 2px solid #eb3d3d; */
    /* padding-top: 20px; */
    
}
.hero-circle{
    /* position: absolute; */
    /* margin-left: 5px; */
    width: 100%;
}
.microphone{
    /* position: relative ;
    top: 35%;
    margin: 0 auto; */
    width: 116px;
    /* height: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.badge{
    position: absolute;
    top: 12px;
    left: 254px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 600;
    border-radius: 16px;
    width: 56px;
    padding: 4px 0;
    text-align: center;
}
/* about */
.about{
    margin-top: 80px;
    text-align: center;
    padding: 80px 160px;
}
.about-content h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-cards{
    display: grid;
    justify-items: space-between;
    gap: 80px;
    grid-template-columns: repeat(4,1fr);
}
.ab-card{ 
        width: 240px;
        text-align: center;
        font-weight: bold;
        
    }
.ab-card h1{
        color: #00FF88;
        font-size: 48px;
        margin-bottom: 16px;
    }

@media screen and (max-width: 576px){

    /* banner */
    #banner{
        background-size: cover;
        padding: 40px 20px;
    }
    .banner-center{
        width: 260px;
        height: 260px;
    }
    .microphone{
        width: 47px;
    }
    .badge{
        top: 8px;
        left: 190px;
    }
    /* nav */
    nav ul{
        display: none;
    }
    nav .sub-btn{
        display: none;
    }
    nav .menu{
        display: block;
    }
    /* about */
    .about{
        padding: 40px 20px;
    }
    .about-content h1{
        font-size: 32px;
        width: 90%;
    }
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    .ab-card{ 
        width: 170px;
        text-align: center;
        font-weight: bold;
        
    }
    .ab-card h1{
        color: #00FF88;
        font-size: 40px;
        margin-bottom: 16px;
    }
}